.DS_Store
.Rproj.user
.Rhistory
.RData
*.o
*.a
*.so
*.dll
src/polgraph
src/pomdpconvert
src/pomdpeval
src/pomdpsim
src/pomdpsol
inst/bin
*.RData
inst/doc
*.log
*.policyx
*.pomdpx
meta.csv
*.spl
articles/*.tex
articles/*.pdf
